@charset "ISO-8859-1";

     
*, *:before, *:after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body
{
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    font-family: 'Nunito', sans-serif;
}
    